In [1]:
# Importing libraries

import pandas as pd
import re

In [2]:
# Reading the both the .txt files and storing them in two lists

with open('Entities_0_400.txt') as f:
    entities_set1 = f.readlines()
with open('Entities_400_1327.txt') as f:
    entities_set2 = f.readlines()

In [3]:
# Creating a dataframe of entities using the two lists

df_entities = pd.DataFrame(entities_set1+entities_set2, columns =['raw_entity'])
df_entities

                                             raw_entity
0                             ['- Steinberg Library',\n
1                                'Counseling Center',\n
2                          'Wilf Campus, libraries.',\n
3            'Mendel Gottesman & Pollack Libraries.',\n
4                          'Resnick Campus library.',\n
...                                                 ...
1323                                'Aleksandr Zhuk',\n
1324                      'Aleksandr Zhuk, courses.',\n
1325                  'San Francisco Open Exchange.',\n
1326   '- Business Relationship Management Institute...
1327         'Aleksandr Zhuk, educational background.']

[1328 rows x 1 columns]

In [4]:
# Defining a function to process the entities to remove special charaters and clean the dataframe

def process_entity(raw_entity):
    raw_entity = re.sub("[\[\]\'\-\\n]", '', raw_entity)
    return raw_entity

df_entities["entity"] = df_entities["raw_entity"].apply(process_entity)
df_entities.drop('raw_entity', inplace=True, axis=1)
df_entities

                                             entity
0                                Steinberg Library,
1                                Counseling Center,
2                          Wilf Campus, libraries.,
3            Mendel Gottesman & Pollack Libraries.,
4                          Resnick Campus library.,
...                                             ...
1323                                Aleksandr Zhuk,
1324                      Aleksandr Zhuk, courses.,
1325                  San Francisco Open Exchange.,
1326    Business Relationship Management Institute,
1327        Aleksandr Zhuk, educational background.

[1328 rows x 1 columns]

In [5]:
# Reading the question and answers csv file as a dataframe

df_que_ans = pd.read_csv("https://raw.githubusercontent.com/atreish/yukatzbot/main/tests/questions_answers_cleaned%20.csv")
df_que_ans

,question,answer
0,What is the phone number for the Steinberg Lib...,The phone number for the Steinberg Library is ...
1,What services does the Counseling Center offer?,"The Counseling Center offers free, confidentia..."
2,What is the address of the Wilf Campus libraries?,The Wilf Campus libraries are located at 2520 ...
3,What is the phone number for the Mendel Gottes...,The phone number for the Mendel Gottesman & Po...
4,What is the address of the Resnick Campus libr...,The Resnick Campus library is located at 1300 ...
...,...,...
1323,What is the focus of Aleksandr Zhuk's publishe...,Aleksandr Zhuk has published numerous articles...
1324,What courses has Aleksandr Zhuk taught and cre...,Aleksandr Zhuk has taught and created a number...
1325,What is the San Francisco Open Exchange?,The San Francisco Open Exchange (SFOX) is the ...
1326,What is the professional community size of the...,The Business Relationship Management Institute...
1327,What is the educational background of Aleksand...,Aleksandr Zhuk holds a doctorate in management...

In [8]:
# Merging the two dataframes - questions_answers and entities

df = pd.concat([df_que_ans,df_entities],axis=1)
df

,question,answer,entity
0,What is the phone number for the Steinberg Lib...,The phone number for the Steinberg Library is ...,"Steinberg Library,"
1,What services does the Counseling Center offer?,"The Counseling Center offers free, confidentia...","Counseling Center,"
2,What is the address of the Wilf Campus libraries?,The Wilf Campus libraries are located at 2520 ...,"Wilf Campus, libraries.,"
3,What is the phone number for the Mendel Gottes...,The phone number for the Mendel Gottesman & Po...,"Mendel Gottesman & Pollack Libraries.,"
4,What is the address of the Resnick Campus libr...,The Resnick Campus library is located at 1300 ...,"Resnick Campus library.,"
...,...,...,...
1323,What is the focus of Aleksandr Zhuk's publishe...,Aleksandr Zhuk has published numerous articles...,"Aleksandr Zhuk,"
1324,What courses has Aleksandr Zhuk taught and cre...,Aleksandr Zhuk has taught and created a number...,"Aleksandr Zhuk, courses.,"
1325,What is the San Francisco Open Exchange?,The San Francisco Open Exchange (SFOX) is the ...,"San Francisco Open Exchange.,"
1326,What is the professional community size of the...,The Business Relationship Management Institute...,"Business Relationship Management Institute,"
1327,What is the educational background of Aleksand...,Aleksandr Zhuk holds a doctorate in management...,"Aleksandr Zhuk, educational background."

In [9]:
# Saving the final dataframe of questions, answers and entities as a csv file

df.to_csv("questions_answers_entities.csv", index=False)